<html layout:decorator="public/form" xmlns:miguo="http://www.w3.org/1999/html">
<div layout:fragment="content">
	<form class="layui-form model-form" action="" style="width:80%;">
		<input name="id" type="hidden" th:value="${info['id']}?:0">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label layui-form-required">员工号：</label>
				<div class="layui-input-inline">
					<input name="employeeId" th:value="${info['employeeId']}" lay-verify="required" autocomplete="off" placeholder="请输入员工号" class="layui-input" type="text">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-form-required">请假类型：</label>
				<div class="layui-input-inline">
					<widget:singleSelect name="dayOffTypeId|1|请假类型|name|id" sql="SELECT id,`name` FROM ums_day_off_type WHERE mark=1;" th:value="${info['dayOffTypeId']}?:0"/>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label layui-form-required">开始日期：</label>
				<div class="layui-input-inline">
					<widget:dateSelect name="startDate|开始日期|date|1" th:value="${info['startDate']}"/>
				</div>
				<div class="layui-input-inline">
					<widget:singleSelect name="startHalfDay|1|上下午|name|id" data="{上午=上午,下午=下午}" th:value="${info['startHalfDay']}"/>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-form-required">结束日期：</label>
				<div class="layui-input-inline">
					<widget:dateSelect name="endDate|结束日期|date|1" th:value="${info['endDate']}"/>
				</div>
				<div class="layui-input-inline">
				    <widget:singleSelect name="endHalfDay|1|上下午|name|id" data="{上午=上午,下午=下午}" th:value="${info['endHalfDay']}"/>
			    </div>
			</div>
		</div>
		<div class="layui-form-item">
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注：</label>
			<div class="layui-input-block">
				<textarea name="note" placeholder="请输入备注" class="layui-textarea" th:text="${info['note']}"></textarea>
			</div>
		</div>
		<widget:btnSubmit name="submit|立即保存,close|关闭"/>
	</form>
</div>
</html>