<html layout:decorator="public/form" xmlns:miguo="http://www.w3.org/1999/html">
<div layout:fragment="content">
	<form class="layui-form model-form" action="" style="width:80%;">
		<input name="id" type="hidden" th:value="${info['id']}?:0">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">文章封面：</label>
				<widget:uploadSingleImage name="cover|封面|90x90|article|建议上传尺寸450x450|450x450" th:value="${info['cover']}"/>
			</div>
		</div>
		<div class="layui-form-item" style="width: 625px;">
			<label class="layui-form-label">文章标题：</label>
			<div class="layui-input-block">
				<input name="title" th:value="${info['title']}" lay-verify="required" autocomplete="off" placeholder="请输入文章标题" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">状态：</label>
				<div class="layui-input-inline">
					<widget:singleSelect name="status|1|状态|name|id" data="1=已审核,2=待审核,3=审核失败" th:value="${info['status']}?:2"/>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">是否置顶：</label>
				<div class="layui-input-inline">
					<widget:switchCheck name="isTop" data="已置顶|未置顶" th:value="${info['isTop']} ?: 1"/>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">文章分类：</label>
			<widget:itemSelect th:value="${info['itemId']}" th:data="${info['cateId']}" limit="2"/>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">文章图集：</label>
			<widget:uploadMultipleImage name="imgs|文章图集|90x90|article|10|450x450" th:value="${info['imgs']}"/>
		</div>
		<div class="layui-form-item" style="width: 625px;">
			<label class="layui-form-label">文章导读：</label>
			<div class="layui-input-block">
				<textarea name="guide" placeholder="文章导读" class="layui-textarea" th:text="${info['guide']}"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">文章内容：</label>
			<div class="layui-input-block">
				<textarea name="content" placeholder="请输入文章内容" class="layui-textarea" th:text="${info['content']}"></textarea>
				<widget:kindEditor name="content" type="default" dirname="article" width="100%" height="350"/>
			</div>
		</div>
		<widget:btnSubmit name="submit|立即保存,close|关闭"/>
	</form>
</div>
</html>