<html layout:decorator="public/form" xmlns:miguo="http://www.w3.org/1999/html">
<div layout:fragment="content">
	<form class="layui-form model-form" action="" >
		<input name="id" type="hidden" th:value="${info['id']}?:0">
		<div class="layui-form-item">
			<label class="layui-form-label">角色ID：</label>
			<div class="layui-input-block">
				<input name="roleId" th:value="${info['roleId']}" lay-verify="required|number" autocomplete="off" placeholder="请输入角色ID" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">菜单ID：</label>
			<div class="layui-input-block">
				<input name="menuId" th:value="${info['menuId']}" lay-verify="required|number" autocomplete="off" placeholder="请输入菜单ID" class="layui-input" type="text">
			</div>
		</div>
		<widget:btnSubmit name="submit|立即保存,close|关闭"/>
	</form>
</div>
</html>