<html layout:decorator="public/form" xmlns:miguo="http://www.w3.org/1999/html">
<div layout:fragment="content">
	<form class="layui-form model-form" action="">
		<input name="id" type="hidden" th:value="${info['id']}?:0">
		<div class="layui-form-item">
			<label class="layui-form-label">友链图片：</label>
			<widget:uploadSingleImage name="image|图片|90x90|link|建议上传尺寸450x450|450x450" th:value="${info['image']}"/>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">友链名称：</label>
				<div class="layui-input-inline">
					<input name="name" th:value="${info['name']}" lay-verify="required" autocomplete="off" placeholder="请输入友链名称" class="layui-input" type="text">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">友链类型：</label>
				<div class="layui-input-inline">
					<widget:singleSelect name="type|1|类型|name|id" th:data="${LINK_TYPE_LIST}" th:value="${info['type']}?:1"/>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">友链地址：</label>
				<div class="layui-input-inline">
					<input name="url" th:value="${info['url']}" lay-verify="required" autocomplete="off" placeholder="请输入友链地址" class="layui-input" type="text">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">所属平台：</label>
				<div class="layui-input-inline">
					<widget:singleSelect name="platform|1|平台|name|id" th:data="${LINK_PLATFORM_LIST}" th:value="${info['platform']}?:1"/>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">所属栏目：</label>
			<widget:itemSelect th:value="${info['itemId']}" th:data="${info['cateId']}" limit="2"/>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">友链形式：</label>
				<div class="layui-input-inline">
					<widget:singleSelect name="form|1|友链形式|name|id" th:data="${LINK_FORM_LIST}" th:value="${info['form']}?:1"/>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">状态：</label>
				<div class="layui-input-inline">
					<widget:switchCheck name="status" data="在用|停用" th:value="${info['status']} ?: 1"/>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">显示顺序：</label>
				<div class="layui-input-inline">
					<input name="sort" th:value="${info['sort']}" lay-verify="required|number" autocomplete="off" placeholder="请输入显示顺序" class="layui-input" type="text">
				</div>
			</div>
		</div>
		<widget:btnSubmit name="submit|立即保存,close|关闭"/>
	</form>
</div>
</html>