<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.arnu.admin.hammers.mapper.DayOffMapper">
    <resultMap id="SummaryInfoVo" type="me.arnu.admin.hammers.vo.EmployeeDayOffSummaryVo">
        <id property="employeeId" column="employee_id"/>
        <result property="employeeName" column="realname"/>
        <result property="dept" column="dept"/>
        <result property="level" column="level"/>
        <result property="graduationDate" column="graduation_date"/>
        <result property="enrollmentDate" column="enrollment_date"/>
        <result property="formalDate" column="formal_date"/>
        <result property="workYear" column="work_year"/>
        <result property="actualAnnualVacationDays" column="annualVacationDays"/>
        <result property="lastYearAnnualVacationBalance" column="lastYearAnnualVacationBalance"/>

        <!--/**
        * 员工id
        */
        private int employeeId;

        /**j
        * 员工姓名
        */
        private String employeeName;

        /**
        * 员工部门
        */
        private String dept;

        /**
        * 员工级别
        */
        private String level;

        /**
        * 工龄
        */
        private float workYear;

        //    /**
        //     * 级别对应年假天数
        //     */
        //    private float levelAnnualVacationDays;
        //
        //    /**
        //     * 特殊年假天数
        //     */
        //    private float employeeSpecialAnnualVacationDays;

        /**
        * 实际本年年假天数
        */
        private float actualAnnualVacationDays;

        //    /**
        //     * 上年剩余年假天数，即到达新年1月后，上一年年假还剩下几天
        //     */
        //    private float lastYearRemainAnnualVacationDays;

        /**
        * 截至目前可用年假天数  上年年假剩余+本年年假合计减去已请年假天数
        * 计算原则：如果当前在重叠计算年假周期，那么两个部分的年假都算在一起，优先使用上一年结余
        *
        *
        */
        private float allAnnualVacationDays;

        //    /**
        //     * 本年剩余年假天数，即总数减请假数
        //     */
        //    private float thisYearRemainAnnualVacationDays;
        //
        //    /**
        //     * 到达新一年后，截至结算周期结束前，上一周期剩余年假天数
        //     */
        //    private float lastYearAnnualVacationBalance;
        //
        //    /**
        //     * 进入自然年新年后，依然可以使用上已计算周期年假的请假天数
        //     */
        //    private float lastPeriodAnnualVacationDayOffDays;

        /**
        * 当年年假请假总数
        */
        private float annualVacationDayOffDays;

        /**
        * 其他各种假计自然年的。
        */
        private Map<String, Float> dayOffMap;-->
    </resultMap>
    <select id="selectEmpAnnualVacationInfo" parameterType="me.arnu.admin.hammers.query.DayOffTypeQuery"
            resultMap="SummaryInfoVo">
        select ue.id, ue.employee_id, ue.realname
        , sd.name as dept
        , sl.name as `level`
        , ue.graduation_date
        , ue.enrollment_date
        , ue.formal_date
        , ue.work_year
        , case when uesavs.days is not null then uesavs.days else ulavs.days end as annualVacationDays
        , case when unyavb.days is null then 0 else unyavb.days end as lastYearAnnualVacationBalance
        from ums_employee ue
        left join sys_level sl on ue.level_id = sl.id
        left join sys_dept sd on ue.dept_id = sd.id
        left join ums_level_annual_vacation_setting ulavs on ue.level_id = ulavs .level_id
        left join ums_employee_special_annual_vacation_setting uesavs on uesavs.employee_id = ue.employee_id
        left join ums_nature_year_annual_vacation_balance unyavb on unyavb.employee_id = ue.employee_id and
        <choose>
            <when test="year != null and year != 0">
                unyavb.`year` = (#{year}-1)
            </when>
            <otherwise>
                unyavb.`year` = (year(now())-1)
            </otherwise>
        </choose>
        where 1=1
        <if test="name != null and name != ''"><!-- name 做模糊查询，empid做精准查询 -->
            AND ( lower(ue.realname) like lower(concat('%', #{name}, '%'))
            OR
            lower(ue.employee_id) like lower(concat('%', #{name}, '%')))
        </if>
        <if test="empId != null and empId != ''">
            AND lower(ue.employee_id) like lower(concat('%', #{empId}, '%'))
        </if>
        ORDER BY ue.employee_id
    </select>
    <resultMap id="AskForDayOff" type="me.arnu.admin.hammers.entity.AskForDayOffLog">
        <id property="id" column="id"/>
        <result property="employeeId" column="employee_id"/>
        <result property="dayOffTypeId" column="day_off_type_id"/>
        <result property="days" column="days"/>
    </resultMap>

    <select id="selectEmpAnnualDayOffList" resultMap="AskForDayOff">
        <![CDATA[
        select employee_id ,1 as day_off_type_id,  sum(days) as days
        from ums_ask_for_day_off_log uafdol
        where mark=1 and
        day_off_type_id=1
        and start_date >= #{startDate}
        and end_date < #{endDate}
        ]]>
        <if test="empIds != null and empIds.size() > 0">
            and employee_id in
            <foreach collection="empIds" item="empId" open="(" separator="," close=")">
                #{empId}
            </foreach>
        </if>
        <![CDATA[
        group by employee_id
        ]]>
    </select>
    <!--    其他类型请假 -->
    <select id="selectEmpOtherDayOffList" resultMap="AskForDayOff">
        <![CDATA[
        select employee_id ,day_off_type_id, sum(days) as days
        from ums_ask_for_day_off_log uafdol
        where mark = 1 and
        day_off_type_id <> 1
        and start_date >= #{startDate}
        and end_date < #{endDate}
        ]]>
        <if test="empIds != null and empIds.size() > 0">
            and employee_id in
            <foreach collection="empIds" item="empId" open="(" separator="," close=")">
                #{empId}
            </foreach>
        </if>
        <![CDATA[
        group by employee_id,day_off_type_id
        ]]>
    </select>
</mapper>